<div class="confirm-reset-form">
  <form [formGroup]="confirmResetForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Введите новый пароль</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" type="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br/>
    <span *ngIf="apiError?.password">{{apiError.password}}</span> <!-- ошибка от сервера -->
    <div *ngIf="_password.invalid && (_password.touched || _password.dirty)">
      <span *ngIf="_password.errors?.required">Обязательное поле. </span>
      <span *ngIf="_password.errors?.minlength">Пароль должен быть длинее 8 символов. </span>
      <span *ngIf="_password.errors?.maxlength">Пароль должен быть короче 16 символов. </span>
      <span *ngIf="_password.errors?.pattern">Пароль должен состоять из латинских букв и цифр. </span>
    </div>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Подтвердите новый пароль</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" type="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br/>
    <div *ngIf="_confirmPassword.invalid && (_confirmPassword.touched || _password.dirty)">
      <span *ngIf="_confirmPassword.errors?.mustMatch">Пароль не совпадает</span>
    </div>
    <br>
    <button mat-raised-button> Изменить пароль </button>
  </form>
</div>
