.confirm-reset-header {
  margin: 0 auto;
  border: 2px gray dotted;
  text-align: center;
  padding-bottom: 10px;
}

.confirm-reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;


  margin: 10px auto;
  border: black solid 3px;

  width: 400px;
}

.confirm-reset-form * {
  margin: 10px auto;
}
