body{
    padding: 0 ;
    background-color: #fff;
    font-family: Roboto, sans-serif;
}

header{
    margin: 0 auto;
    width: 100%;
}

div.sub-header{
    display: inline-block;
    width: 100%;
}

.top-block{
    display: flex;
    position: relative;
    height: 80px;
    width: 1120px;
    margin: 0 auto;
}

.slogan{
        position: absolute;
        left: 9%;
        padding-left: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 154.2%;
        letter-spacing: -0.015em;
        text-transform: uppercase;
        color: #00812E;
}

.logo{
    position: absolute;
    left: -1.5%;
    height: 66px;
    width: 110px;
}

div.top-block ul{
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: right;
    position: absolute;
    left: 28%;
    width: 47%;
    height: 35px;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
}

div.top-block ul li {
    display: inline-block;
    text-align: center;
    line-height: 35px;
    width: 110px;
    height: 35px;
}
div.top-block ul li a{
    display: block;
    color: #000000;
    text-decoration: none;
}
div.top-block ul li a:hover{
    width: 100%;
    height: 35px;
    color: #000000;
    border-radius: 30px;
    background-color: #6FCF97;
}

a.btn-lang{
    position: absolute;
    left: 85%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 35px;
    color: #000000;
    border-radius: 30px;
    text-decoration: none;

}

a.btn-lang:hover{
    background-color: #6FCF97;
}

#sb-search{
    position: absolute;
    left: 80%;
}

#search{
    text-align: center;
    width: 0;
    border: none;
}

.search-form{
    width: 135px;
    height: 35px;
    z-index: 1000;
}

.search-form:focus{
    width: 30vw;
}

.sb-search-submit{
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("../assets/img/search.svg");
}

.btn-hamburger{
    position: absolute;
    left: 94%;
    margin-right: -15px;
    text-align-last: end;
    width: 36px;
    height: 36px;
    border: none;
    background-color: #fff;
    background-image: url("../assets/img/gamburger.svg");
}

.btn-hamburger:hover{
    border: #1c7430 solid 1px;
}

.top-menu{
    height: 56px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    font-variant: small-caps;
    background: linear-gradient(0deg, rgba(111, 207, 151, 0.2), rgba(111, 207, 151, 0.2)), #FFFFFF;
    color: #000000;
}

div.top-menu > ul{
    list-style: none;
    align-items: center;
    height: 56px;
    width: 1120px;
    margin: 0 auto;
    padding-left: 0;
}

div.top-menu > ul > li > a{
    width: 25%;
    text-decoration: none;
    color: #333;
}

.active-mnu{
    padding-top: 20px;
    height: 56px;

    border-bottom: #2d9358 solid 2px;
    background: none;
}

div.top-menu > ul > li.active-mnu > a{
     color: #15994c;
}

div.top-menu ul li a:hover{
    color: #6FCF97;
}




