<div class="reset-password-main">
  <p>Перейдите по ссылке, отправленной на ваш адресс, чтобы изменить пароль</p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-label> Введите ваш E-mail </mat-label>
      <input formControlName="email">
    <div *ngIf="apiError?.email">
      <span>{{apiError.email}}</span>
    </div>
    <button mat-raised-button type="submit">Отправить</button>
  </form>
</div>
<div class="text-info" *ngIf="success">
  <p>На ваш E-mail отправлено письмо с ссылкой, для подтверждения смены пароля</p>
</div>
