<div class="login-main">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" id="email-input">
    <mat-label> Введите ваш логин </mat-label>
      <input matInput formControlName="email">
    <div *ngIf="_email.invalid && (_email.touched || _email.dirty)">
      <span *ngIf="_email.errors?.required">Обязательное поле</span>
    </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label> Введите ваш пароль </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    <div *ngIf="_password.invalid && (_password.touched || _password.dirty)">
      <span *ngIf="_password.errors?.required">Обязательное поле</span>
    </div>
    </mat-form-field>
    <span *ngIf="apiError">{{ apiError.error }}</span>
<br>
    <button mat-raised-button type="submit"> Login</button>
  </form>
  <div>
    <button mat-button color="primary" routerLink="/password/reset">Забыли пароль?</button>
  </div>
</div>
