<div class="register-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Enter your mail</mat-label>
      <input matInput formControlName="mail"/>
    </mat-form-field>
    <div *ngIf="_mail.invalid && (_mail.touched || _mail.dirty)">
      <span *ngIf="_mail.errors?.required">E-mail is required</span>
      <span *ngIf="_mail.errors?.email">E-mail is incorrect</span>
    </div>
    <br>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password" type="password"/>
    </mat-form-field>
    <br/>
    <div *ngIf="_password.invalid && (_password.touched || _password.dirty)">
      <span *ngIf="_password.errors?.required">Field is required</span>
      <span *ngIf="_password.errors?.minlength">Password must have more than 6 symbols</span>
      <span *ngIf="_password.errors?.pattern">Password is incorrect (Password must have only numbers and letters)</span>
    </div>
    <br>
    <mat-form-field>
      <mat-label>Confirm your password</mat-label>
      <input matInput formControlName="confirmPassword" type="password"/>
    </mat-form-field>
    <br/>
    <div *ngIf="_confirmPassword.invalid && (_confirmPassword.touched || _password.dirty)">
      <span *ngIf="_confirmPassword.errors?.required">Field is required</span>
      <span *ngIf="_confirmPassword.errors?.mustMatch">Password must match</span>
    </div>
    <br>
    <div class="example-button-row">
      <button mat-raised-button> Register</button>
    </div>
  </form>
</div>


