.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;


  margin: 10px auto;
  border: black solid 3px;

  width: 400px;
}

.register-form * {
  margin: 5px auto;
}

#mail-field {
  width: 236px;
}

#register-button {
  padding: 0 50px;
}

mat-label {
  color: cornflowerblue;
}

.text-info {
  margin: 10px auto;
  border: black solid 3px;

  width: 400px;
}

