<form [formGroup]="pageForm">
    <app-input [inputValue]="alias" [label]="'Alias'"
                (formValue)="aliasInput($event.target.value)"
               formControlName="alias">
    </app-input>
    <app-input [inputValue]="url" [label]="'URL'"
               (formValue)="urlInput($event.target.value)"
               formControlName="url">
    </app-input>
    <app-textarea [value]="template" [label]="'Template'"
                  (formValue)="templateInput($event.target.value)">
    </app-textarea>
    <app-button [label]="'Save'" (status)="onClick($event)"></app-button>
    <app-button [label]="'Back'" (status)="onClick($event)"></app-button>
</form>
